* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.active-star() {
  background-image: url('../img/star-active.svg');
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  clip: rect( 0 0 0 0);
}

// Rating
.rating {

  &-box {
    display: inline-block;
    margin: 2.5em 0;
  }

  &-stars {
    display: inline-block;

    label {
      cursor: pointer;
    }

    &.watcher {

      label {

        &:hover,
        &:hover ~ label {

          .rating-star-icon {
            .active-star();
          }
        }
      }
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:checked {

        + label,
        ~ label {

          .rating-star-icon {
            .active-star();
          }
        }
      }
    }
  }

  &-star-icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/star.svg');
    width: 24px;
    height: 24px;
    margin: 0 2px;

    &.checked-star,
    &.checked-star ~ .rating-star-icon {
      background-image: url('../img/star-active.svg');
    }
  }
}

.star-box {
  margin: 0 2px;
}

.progress-bar {
  background-color: gray;
  border: 3px solid gray;
  width: 320px;
  margin: 4px 0;

  &__line {
    display: inline-block;
    background: #90ee90;
    background: -moz-linear-gradient(left,  #90ee90 0%, #8fbc8f 100%);
    background: -webkit-linear-gradient(left,  #90ee90 0%,#8fbc8f 100%);
    background: linear-gradient(to right,  #90ee90 0%,#8fbc8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#8fbc8f',GradientType=1 );
    width: 1%;
    line-height: 20px;
    text-align: right;
    padding: 0 2px;
    transition: width .3s;
  }
}